<launch>
  <arg name="car_number" default="1" />

  <!-- MPPI ROS Node -->
  <node pkg="mppi_ros_interface"
        type="run_mppi_ros.py"
        name="mppi_ros"
        output="screen"
        cwd="node">
    <param name="car_number" value="$(arg car_number)" />
  </node>

  <!-- Logger Node -->
  <node pkg="mppi_ros_interface"
        type="logger_node.py"
        name="mppi_logger"
        output="screen"
        cwd="node">
    <param name="car_number" value="$(arg car_number)" />
  </node>

    <node pkg="mppi_ros_interface" type="safety_toggle.py" name="Safety_node"
       />


         <!-- Rosbag settings -->
  <arg name="outdir" default="$(env HOME)/Documents/Thesis/log_Dart/ROSbag" />
  <arg name="prefix" default="run_" />
  <arg name="topics" default="/mppi/action /mppi/cost /pose /vx_1 /vy_1 /tf /tf_static /clock /comptime_1 /throttle_1 /steering_1" />

  <!-- Delay recorder start by ~2s so MPPI is up -->
  <node pkg="rosbag"
        type="record"
        name="bag_recorder"
        output="screen"
        launch-prefix="bash -lc 'sleep 2; exec &quot;$0&quot; &quot;$@&quot;'"
        args="record --lz4 --split --size=4096 --buffsize=104857600 -o $(arg outdir)/$(arg prefix) $(arg topics)" />
</launch>
